.container {
    display: flex;
    justify-content: center;
    
    
    .bg {
        
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        // background-color: var(--color-grey-medium);

        .generate-buttons {
            
            display: flex;
            justify-content: space-between;

            .generate-button {
                border: none;
                padding: 2rem 4rem;
                background-color: var(--secondary-color);
                font-size: 1.6rem;
                font-weight: bold;
                color: var(--color-grey-light);
                border-radius: .2rem;
                cursor: pointer;
            }
        }

        .hide-buttons {
            display: none;
        }
        
        .fixture {
            overflow: hidden;
            margin-top: 3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: rgba(99, 99, 99, 0.4) 5px 5px 10px;
            // background-color: var(--color-grey-medium);
            background-color: var(--color-grey-light);
            height: inherit;
            border-left: 8px solid var(--secondary-color);
            border-radius: 0.2rem;
            // font-size: 1.4rem;
    
            .day {
        
                color: black;
                width: 50%;
                padding: 2rem;
                margin-bottom: 2rem;
            
            }
        }
    
        .animate {
            animation: example .4s ease-in;
        }
    }
    
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
  }