.container {
    // background-color: var(--color-grey-light);

    min-height: 100vh;

    .signin {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // overflow: hidden;
        display: flex;
        width: 90rem;
        height: 70rem;
        border-radius: 0.2rem;
        box-shadow: rgba(99, 99, 99, 0.4) 5px 5px 10px;
        background-color: var(--color-grey-medium);

        @media only screen and (max-width: 1100px) {
            width: 80rem;
            height: 70rem;
        }

        @media only screen and (max-width: 900px) {
            width: 67rem;
            height: 60rem;
        }

        @media only screen and (max-width: 700px) {
            flex-direction: column;
            width: 80%;
            height: inherit;
        }

        &__img {
            flex: 1;
            background-image: url('./img//sign-in2.svg'), url('./img//sign-in.svg');
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            @media only screen and (max-width: 1100px) {
                flex-basis: 55%;
            }

            @media only screen and (max-width: 900px) {

                flex: 0 0 45%;

            }

            @media only screen and (max-width: 700px) {
                background-image: url('./img/sign-responsive2.svg'), url('./img/sign-responsive.svg');
                // background-color: var(--primary-color);
                padding: 4rem 0;

            }


            h1 {
                color: var(--color-grey-light);
                font-size: 4rem;

                @media only screen and (max-width: 900px) {
                    font-size: 3rem;
                }

                @media only screen and (max-width: 700px) {
                    margin-left: 2rem;
                }
            }


        }


        &__form {

            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;

            @media only screen and (max-width: 900px) {
                flex: 1;
                padding: 0;
                // padding: 2rem;

            }

            @media only screen and (max-width: 700px) {
                width: 100%;
                padding: 2rem;
            }

            .content {
                width: 80%;
                color: var(--primary-color);



                h2 {
                    font-size: 4rem;
                    margin-bottom: 2rem;

                    @media only screen and (max-width: 900px) {
                        font-size: 3rem;
                    }

                    @media only screen and (max-width: 700px) {
                        font-size: 2.5rem;
                    }
                }

                span {
                    font-size: 2rem;
                    font-weight: 400;

                    @media only screen and (max-width: 900px) {
                        font-size: 1.5rem;
                    }
                }

                .buttons {
                    background-color: var(--secondary-color);
                    border-radius: .2rem;
                    border: none;
                    transition: all .2s;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                p {
                    font-size: 1.5rem;
                    color: brown;
                    margin-bottom: 4rem;
                    padding-left: 1rem;
                }

                .signup {
                    margin-top: 1.5rem;

                    span {
                        font-size: 1.5rem;
                    }

                    &__link {
                        color: var(--secondary-color);
                        text-decoration: none;
                    }

                }


            }

        }
    }
}