.game {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: var(--primary-color);
    border-bottom: 1px solid var(--color-grey-light);

    .game-detail {
        width: 40rem;
        display: flex;
        font-weight: bolder;
        align-items: center;

        .home-team-details {
            width: 135px;
            display: flex;
            align-items: center;

            span {
                flex: 1;
                text-align: end;
                font-size: 1.2rem;
            }

            .img {
                margin: 0 1rem;
            }
        }

        .away-team-details {
            width: 13.5rem;
            display: flex;
            align-items: center;

            span {
                flex: 1;
                text-align: start;
                font-size: 1.2rem;
            }

            .img {
                margin: 0 1rem;
            }

            
        }

        .score {
            display: flex;
            align-items: center;
            background-color: var(--primary-color);
            border-radius: .2rem;
            overflow: hidden;

            .goal-input {
                width: 3rem;
                height: 3rem;
                border: none;
                background-color: var(--primary-color);
                color: var(--color-grey-light);
                outline: none;
                text-align: center;
                font-weight: bolder;
            }

            .separator {
                font-size: 1.4rem;
                // background-color: var(--primary-color);
                color: white;
                font-weight: bolder;
            }
        }
        
    }

    
}