.game {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: var(--primary-color);
    border-bottom: 1px solid var(--color-grey-light);

    .game-detail {
        width: 35rem;
        display: flex;
        font-weight: bolder;
        
        .home-team-details {
            width: 40%;
            display: flex;
            align-items: center;

            span {
                flex: 1;
                text-align: end;
                font-size: 1.2rem;
            }

            .img {
                margin: 0 1rem;
            }
        }

        .away-team-details {
            width: 40%;
            display: flex;
            align-items: center;

            span {
                flex: 1;
                text-align: start;
                font-size: 1.2rem;
            }

            .img {
                margin: 0 1rem;
            }

            
        }

        


        .goal-input {
            width: 3rem;
            height: 3rem;
            border: none;
            background-color: var(--primary-color);
            color: var(--color-grey-light);
            outline: none;
            text-align: center;
            font-weight: bolder;
        }
    }

    
}