

:root {
  --primary-color: #001220;

  --color-grey-light: #ecf0f1;
  --color-grey-medium: rgb(247, 250, 252);
  --color-grey-dark: #d1d7db;

  --secondary-color: #fa3cd7;

  /* background-color: var(--color-grey-dark); */
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Lato', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Lato, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
